{
    "system": [
        {"user": "daan", "authorized_keys_file": "/home/daan/.ssh/authorized_keys"}
    ],
    "github": {
        "url": "api.github.com",
        "accounts": [
            {"username": "dza89", "system_user": "daan"}
        ]
    }
}
