{
    "system": [
        {"user": "{{ system_username }}", "authorized_keys_file": "/home/{{ system_username }}/.ssh/authorized_keys"}
    ],
    "github": {
        "url": "api.github.com",
        "accounts": [
            {"username": "{{ github_username }}", "system_user": "{{ system_username }}"}
        ]
    }
}
